<!--flask/templates/base.html-->

{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <h3>Overview for run: {{ day_to_pull }}</h3>

    <ul id="listings">
        {% for selected_loc in Listing.objects(date_str__gte=day_to_pull).distinct('loc') %}
            <h3>{{ selected_loc }}</h3>

            {% for index in Listing.objects(date_str__gte=day_to_pull, loc=selected_loc)[0:10] %}
                <li>Name: {{ index.name }} &nbsp;|&nbsp; Change: {{ index.change }}% &nbsp;|&nbsp; Value: {{index.price}}</li>
            {% endfor %}

        {% endfor %}
    </ul>
{% endblock %}