<!--flask/templates/index-source.html-->

{% extends "base.html" %}

{% block title %}Source{% endblock %}

{% block content %}

    <h3>Source information</h3>
    <ul>
    	<li><a href="https://www.nyse.com/index" target="_blank">New York Stock Exchange</a></li>
    	<li><a href="https://www.hkex.com.hk/?sc_lang=en" target="_blank">Honk Kong Exchange</a></li>
    	<li><a href="http://www.jpx.co.jp/english/" target="_blank">Japan Exchange Group</a></li>
    	<li><a href="http://www.londonstockexchange.com/home/homepage.htm" target="_blank">London Stock Exchange</a></li>
		<li><a href="https://www.euronext.com/en" target="_blank">Paris Euronext</a></li>
    	<li><a href="http://en.boerse-frankfurt.de/" target="_blank">Frankfurt B&ouml;rse</a></li>
	</ul>

{% endblock %}