<!DOCTYPE html>
<html lang="en">

<head>
    <title>Stock Listings Top </title>
</head>

<body>
    <!--
	<script>
		function calc_difference(){

		}
	</script>
	-->
    {% for selected_loc in Listing.objects(date_str__gte=day_to_pull).distinct('loc') %}
        <h3>Top performers in {{ selected_loc }}</h3>
        <ol id="listings">
        {% for index in Listing.objects(date_str__gte=day_to_pull, loc=selected_loc)[0:5] %}
            <li>Name: {{ index.name }} &nbsp;|&nbsp; Change: {{ index.change }}% &nbsp;|&nbsp; Value: {{index.price}}</li>
        {% endfor %} 
        </ol>
    {% endfor %}
    
</body>

</html>